<a href="https://colab.research.google.com/github/KodhaiNatchi/silver-octo-bassoon/blob/main/L3_Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Function Example

In [ ]:
# Basic function
def greet():
    """
    This function prints 
    the greeting message
    """
    print("Hello")

In [ ]:
# How to call the function
greet()

Hello

# Function with Parameters Example

In [ ]:
# Function with Parameters

def greet(name):
    """
    This function greets to 
    the person passed in as a parameter
    """
    print("Hello",name)

In [ ]:
# Calling the function with Parameter
greet("Abhishek")

Hello Abhishek

In [ ]:
# Calling the function with Parameter
greet("Everyone")

Hello Everyone

In [ ]:
# Always call function with exact number of arguments or we will get the Error

def greet(name,greeting):
    """
    This function takes name & greetings
    and prints the same.
    
    This function accepts 3 paramerer wopp
    a will ace
    """
    print("{}, {}".format(greeting,name))

In [ ]:
greet(name="Everyone",greeting="Good Evening")

Good Evening, Everyone

In [ ]:
greet("Subhash","Hello")

Hello, Subhash

In [ ]:
greet("Everyone")

TypeError: greet() missing 1 required positional argument: 'greeting'

# Function with Default Parameters Example

In [ ]:
# Function with default Parameters

def greet(name, greeting="Hello"):
    print("{}, {}".format(greeting,name))

In [ ]:
greet("Punit")
greet("Everyone","Good Morning")

Hello, Punit
Good Morning, Everyone

In [ ]:
# Another Example

def my_function(country = "India"):
    print("I am from " + country)

my_function("Sweden")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Brazil

# Passing other DataStructures as Parameter Example

In [ ]:
# You can send any data types of argument to a function (string, number, list, dictionary etc.), 
#and it will be treated as the same data type inside the function.


def print_numbers(nums):
    """
    This function takes list of numbers and Prints it
    """
    for i in nums:
        print(i)


# List of numbers        
lst = range(10)
print(type(lst))
print_numbers(lst)

<class 'range'>
0
1
2
3
4
5
6
7
8
9

In [ ]:
# List of fruits
lst = ["apple", "banana", "cherry"]
print(type(lst))
temp = print_numbers(lst)

<class 'list'>
apple
banana
cherry

# The return statement

## The return statement is used to exit a function and go back to the place from where it was called.

## Syntax is return [expression_list]

In [ ]:
# Simple Example

def sum_two_numbers(a, b,c,d,e,f):
    return a + b + c + d + e + f

In [ ]:
sum_two_numbers(100,200)

300

In [ ]:
result = sum_two_numbers(100,200)
print(result)
if result <= 0:
    print("Error")
else:
    print("No Error")

300
No Error

In [ ]:
sum_two_numbers(100,200)

300

In [ ]:
# Another Example

def odd_even(num):
    """
    This function takes the num as argument
    and returns if number is ODD or EVEN
    """
    
    if num%2==0:
        return "Provided number is EVEN"
    else:
        return "Provided number is ODD"

In [ ]:
result = odd_even(11)
print(result)

Provided number is ODD

In [ ]:
result = odd_even(100)
print(result)

Provided number is EVEN

# Arbitrary Arguments, *args

## If you do not know how many arguments that will be passed into your function, add a * before the parameter name in the function definition.

## This way the function will receive a tuple of arguments, and can access the items accordingly:

In [ ]:
def sample_fun(*args):
    for i in args:
        print(i)

In [ ]:
sample_fun(1,2,3,4,5)

1
2
3
4
5

In [ ]:
sample_fun(1,3)

1
3

# Method Overriding Example

In [ ]:
# Python program to demonstrate  
# method overriding 
# Defining parent class 

class Parent(): 
      
    # Constructor 
    def __init__(self): 
        self.value = "Inside Parent"
          
    # Parent's show method 
    def show(self): 
        print(self.value) 
          
# Defining child class 
class Child(Parent): 
      
    # Constructor 
    def __init__(self): 
        self.value = "Inside Child"
          
    # Child's show method 
    def show(self): 
        print("I am overridden Method")
        print(self.value) 
          
obj1 = Parent() 
obj2 = Child() 
  
obj1.show() 
obj2.show()

Inside Parent
I am overridden Method
Inside Child

# Method Overloading Example

## Python does not supports method overloading by default. 
## But there are different ways to achieve method overloading in Python.

## The problem with method overloading in Python is that we may overload the methods but can only use the latest defined method.

In [ ]:
# First product method. 
# Takes two argument and print their product


def product(a, b): 
    p = a * b 
    print(p) 
      
# Second product method 
# Takes three argument and print their product 
def product(a, b, c): 
    p = a * b*c 
    print(p) 
  
#Uncommenting the below line shows an error     
product(4, 5) 
  
# This line will call the second product method 
#product(4, 5, 5)

TypeError: product() missing 1 required positional argument: 'c'

# Solution - 1

In [ ]:
# Function to take multiple arguments

def add(datatype,*args): 
  
    print(type(args))
    
    # if datatype is int then initialize answer as 0 
    if datatype =='int': 
        answer = 0
          
    # if datatype is str then initialize answer as '' 
    if datatype =='str': 
        answer ='' 
  
    # Traverse through the arguments 
    for x in args: 
        # This will do addition if the arguments are in Or concatenation if the arguments are str 
        answer = answer + x 
    print(answer) 
    
    
    
# Integer 
add('int', 5, 6,10,15) 
# String 
add('str', 'Hi ', 'Geeks')

SyntaxError: invalid syntax (<ipython-input-28-9b75d5c440ba>, line 3)

# Class - Example

In [ ]:
class MyNewClass():
    '''This is a docstring. I have created a new class'''
    pass

In [ ]:
obj1 = MyNewClass()

In [ ]:
print(obj1.__doc__)

This is a docstring. I have created a new class

# 'Self' - Example

In [ ]:
class Person():
    "This is a person class"
    age = 10

    def greet(self):
        print('Hello')


# create a new object of Person class
harry = Person()

harry.greet() # This is equivalent to Person.greet(harry)
Person.greet(harry)

Hello
Hello

# Constructor OR __init__() Example

In [ ]:
class ComplexNumber():
    
    def __init__(self, r=0, i=0):
        self.real = r
        self.imag = i

    def get_data(self):
        print(f'{self.real}+{self.imag}j')

# Create a new ComplexNumber object
num1 = ComplexNumber(2, 3)
num1.get_data()

2+3j

In [ ]:
# Another Example

class sample():
    
    def __init__(self):
        print("New Object is created")

In [ ]:
t1 = sample()

New Object is created

In [ ]:
t2 = sample()

New Object is created

In [ ]:
# One more Example

class sample():

    def __init__(self,name):
        self.name = name
        print("New Object is created and Now I will call UDF")
        self.print_name(name)
            
    def print_name(self,name):
        print("Hello",self.name)

In [ ]:
t2 = sample("Students")

New Object is created and Now I will call UDF
Hello Students

In [ ]:
t3 = sample("Rakesh")

New Object is created and Now I will call UDF
Hello Rakesh

In [ ]:
# Delete an object

t4 = sample("Punit")

New Object is created and Now I will call UDF
Hello Punit

In [ ]:
del t4

In [ ]:
t4

NameError: name 't4' is not defined

# Type Conversion Example

## Implicit Type Conversion Example

Let's see an example where Python promotes the conversion of the lower data type (integer) to the higher data type (float)
to avoid data loss.

In [ ]:
num_int = 123
num_flo = 1.23

num_new = num_int + num_flo

print("datatype of num_int:",type(num_int))
print("datatype of num_flo:",type(num_flo))

print("Value of num_new:",num_new)
print("datatype of num_new:",type(num_new))

datatype of num_int: <class 'int'>
datatype of num_flo: <class 'float'>
Value of num_new: 124.23
datatype of num_new: <class 'float'>

In [ ]:
#Addition of string(higher) data type and integer(lower) datatype

num_int = 123
num_str = "456"

print("Data type of num_int:",type(num_int))
print("Data type of num_str:",type(num_str))

print(num_int+num_str)

Data type of num_int: <class 'int'>
Data type of num_str: <class 'str'>

TypeError: unsupported operand type(s) for +: 'int' and 'str'

# Explicit Type Conversion Example

Syntax :- <required_datatype>(expression)

In [ ]:
num_int = 123
num_str = "456"

print("Data type of num_int:",type(num_int))
print("Data type of num_str before Type Casting:",type(num_str))

num_str = int(num_str)
print("Data type of num_str after Type Casting:",type(num_str))

num_sum = num_int + num_str

print("Sum of num_int and num_str:",num_sum)
print("Data type of the sum:",type(num_sum))

Data type of num_int: <class 'int'>
Data type of num_str before Type Casting: <class 'str'>
Data type of num_str after Type Casting: <class 'int'>
Sum of num_int and num_str: 579
Data type of the sum: <class 'int'>

In [ ]:
# Another Exmaple with Complex Datatype

my_list = [10, 20, 30, 40, 50]
my_set = {10, 10, 20, 30, 20, 50, 20}

print('From list to tuple: ' + str(tuple(my_list)))
print('From list to set: ' + str(set(my_list)))
print('From set to list: ' + str(list(my_set)))

From list to tuple: (10, 20, 30, 40, 50)
From list to set: {40, 10, 50, 20, 30}
From set to list: [10, 20, 50, 30]

# Module - Example

In [ ]:
# This is the way we import Module in Python
import Example

Example.add(5,5)

10

In [ ]:
# Another way to import with rename

import Example as ex

ex.add(10,10)

20

In [ ]:
from Example import add

add(20,20)

40

# Exception Handling Example

## Try - Catch Example

In [ ]:
# import module sys to get the type of exception
import sys

randomList = ['a', 0, 2]

for entry in randomList:
    try:
        print("The entry is", entry)
        r = 1/int(entry)
    except:
        print("Oops!", sys.exc_info()[0], "occurred.")
        print("Next entry.")
        print()
print("The reciprocal of", entry, "is", r)

The entry is a
Oops! <class 'ValueError'> occurred.
Next entry.

The entry is 0
Oops! <class 'ZeroDivisionError'> occurred.
Next entry.

The entry is 2
The reciprocal of 2 is 0.5

In [ ]:
# Another Example 

try:
    a = int(input("Enter a positive integer: "))
    if a <= 0:
        raise ValueError("That is not a positive number!")
except ValueError as ve:
    print(ve)

Enter a positive integer: -1
That is not a positive number!

In [ ]:
raise KeyboardInterrupt

KeyboardInterrupt:

In [ ]:
raise MemoryError("This is urgent")

MemoryError: This is urgent

# Finally Example

In [ ]:
try:
    f = open("test.txt",encoding = 'utf-8')
except FileNotFoundError as FE:
    print(FE.strerror)
except ZeroDivisionError as ZE:
    print(ZE.strerror)
finally:
    print("I am in Finally Clause")

No such file or directory
I am in Finally Clause

# File Handling Example

## File Reading Example

In [ ]:
# Open file with Mode

# a file named "geek", will be opened with the reading mode. 
file = open('sample.txt',"r") 

# This will print every line one by one in the file 
for line in file: 
    print(line)

Welcome to class

This is demo file

In [ ]:
# There is more than one way to read a file in Python. 
# If you need to extract a string that contains all characters in the file then we can use file.read(). 

# Python code to illustrate read() mode 
file = open("sample.txt", "r")  
print(file.read())

Welcome to class
This is demo file

In [ ]:
# Read contents in list

file = open("sample.txt","r")
lines = file.readlines()

print(lines)
type(lines)

['Welcome to class\n', 'This is demo file']

list

In [ ]:
# Python code to illustrate read() mode character wise
# Read only certain number of characters

file = open("sample-1.txt", "r") 
print(file.read(5))

FileNotFoundError: [Errno 2] No such file or directory: 'sample-1.txt'

## File creating Example

In [ ]:
# Lets see how to create file

file = open('sample-1.txt','w') 

file.write("This is the write command") 
file.write("It allows us to write in a particular file")

file.close()

In [ ]:
# Python code to illustrate append() mode 

file = open('geek.txt','a') 
file.write("This will add this line") 
file.close()

# WITH Example

In [ ]:
# Python code to illustrate with() 

with open("sample.txt") as file:   
    data = file.read()
    # do something with data 
    print(data.upper())

WELCOME TO CLASS
THIS IS DEMO FILE

In [ ]:
# Python code to illustrate split() function 

with open("sample.txt", "r") as file: 
    data = file.readlines() 
    for line in data:
        word = line.split() 
        print(word)

['Welcome', 'to', 'class']
['This', 'is', 'demo', 'file']